<a href="https://colab.research.google.com/github/jarekStrzelecki/data-science-bootcamp/blob/main/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:

s = pd.Series(data=[3,2,4,6], index=['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
import numpy as np
s=pd.Series(data=[3, np.nan,4,6], index=['a','b','c','d'], name='sample')
print(s)

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [1]:
import pandas as pd
import numpy as np
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
print(s.index)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [2]:
import pandas as pd
s = pd.Series(data=['python', 'java', 'sql'], name = 'languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [3]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [5]:
s.dtypes

dtype('O')

In [6]:
price = pd.Series(data={'Apple': 200, 'CD Project': 60, 'Amazon':1900})
price

Apple          200
CD Project      60
Amazon        1900
dtype: int64

In [7]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [8]:
price.nlargest(1)

Amazon    1900
dtype: int64

In [10]:
price.nsmallest(2)

CD Project     60
Apple         200
dtype: int64

In [11]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
dtype: float64

In [14]:
import pandas as pd
import numpy as np
price = pd.Series(data={'Apple': 200, 'CD Project': 60, 'Amazon':1900, 'KGHM':np.nan})

In [15]:
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [16]:
price.sort_values()

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [17]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [18]:
price.apply(lambda x: x*3.8)

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [1]:
import pandas as pd
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [4]:
df = pd.DataFrame(data=[12,12,32], index=['first','second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [7]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'], 'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [3]:
df = pd.DataFrame(data=[[10,12,32], [23,12,10]], index=['first','second'], columns=['col_1', 'col_2', 'col_3'])

In [5]:
df.index

Index(['first', 'second'], dtype='object')

In [6]:
df.values

array([[10, 12, 32],
       [23, 12, 10]])

In [2]:
import pandas as pd
df=pd.DataFrame(data=[[10,12,32], [23,12,10]], index=['first','second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     32
second     23     12     10

In [3]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [4]:
df.columns = ['a', 'b', 'c']

In [5]:
df

         a   b   c
first   10  12  32
second  23  12  10

In [6]:
df['d'] = df.a+df.c
df

         a   b   c   d
first   10  12  32  42
second  23  12  10  33

In [7]:
import pandas as pd
df=pd.DataFrame(data=[[10,12,32], [23,12,10]], index=['first','second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     32
second     23     12     10

In [9]:
df.loc['first']

col_1    10
col_2    12
col_3    32
Name: first, dtype: int64